@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&family=Grape+Nuts&family=Open+Sans:wght@300;400;500&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url("https://source.unsplash.com/random/1920x1500/?nature,day");
}
*{
  font-family: 'Open Sans', sans-serif;}
.App{
  width: 30vw;
  align-items: center;
  justify-content: center;
  display: flex;
  
}